/* Default styling */
.app {
  font-family: 'Verdana', sans-serif;
  text-align: center;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Theme: Rustic */
.app.rustic {
  background-color: #8B4513;
  color: #efdcdc;
  background-image: url('/images/rustic-abstract.jpg'); /* Replace with actual image */
  background-size: cover;
  background-position: center;
}

/* Theme: Modern */
.app.modern {
  background-color: #2F4F4F;
  color: #c6c1c1;
  background-image: url('/images/modern-abstract.jpg'); /* Replace with actual image */
  background-size: cover;
  background-position: center;
  font-family: 'Helvetica Neue', sans-serif;
}

/* Theme: Cozy */
.app.cozy {
  background-color: #D2B48C;
  color: #713d97;
  background-image: url('/images/cozy-abstract.jpg'); /* Replace with actual image */
  background-size: cover;
  background-position: center;
}

/* Theme: Classic */
.app.classic {
  background-color: #b5b508;
  color: #000080;
  background-image: url('/images/classic-abstract.jpg'); /* Replace with actual image */
  background-size: cover;
  background-position: center;
  font-family: 'Times New Roman', serif;
}

/* Theme: Farmhouse */
.app.farmhouse {
  background-color: #c9a0a0;
  color: #162002;
  background-image: url('/images/farmhouse-abstract.jpg'); /* Replace with actual image */
  background-size: cover;
  background-position: center;
  font-family: 'Georgia', serif;
}

/* Theme Toggle Button */
.theme-toggle {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.theme-toggle:hover {
  opacity: 0.8;
}

ul {
  list-style-type: none;
  padding: 0;
}


.find-recipes {
  padding: 10px 15px;
  color: #162002;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: 0.3s;
}